NEXT_PUBLIC_SCHOOL_NAME="UPTD SDN 1 Kenanga"
NEXT_PUBLIC_SCHOOL_SHORT="SDN 1 Kenanga"
NEXT_PUBLIC_SCHOOL_NPSN="20211091"
NEXT_PUBLIC_SCHOOL_ADDRESS="Jl. Pendidikan No. 1, Kenanga, Sungai Penuh, Jambi"
NEXT_PUBLIC_SCHOOL_PHONE="(0748) 123456"
NEXT_PUBLIC_SCHOOL_EMAIL="sdn1kenanga@gmail.com"
NEXT_PUBLIC_SCHOOL_WEBSITE="https://sdn1kenanga.sch.id"
NEXT_PUBLIC_DEFAULT_LAT="-2.072254"
NEXT_PUBLIC_DEFAULT_LNG="101.395614"
NEXT_PUBLIC_APP_NAME="Website Sekolah Terpadu"
NEXT_PUBLIC_API_URL="http://localhost:8181"
CURRENT_ACADEMIC_YEAR="2025/2026"
SPMB_REGISTRATION_FORMAT="SPMB-YYYY-XXXX"
